aside{
  text-align: center;
  boarder-right: 1px solid #fff;
}
aside button{
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
